* {
	background-color: #008B8B;
	color: white;
	text-align: center;
	font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
}

input {
	text-align: left;
}

img {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

input {
	padding: 10px;
	border: solid 5px white;
	transition: border 0.3s;
	outline: none;
	margin-top: 20px;
}

input[type=text] {
	font-size: 15px;
}

#nameInput {
	width: 120px;
}

div {
	margin: 10px;
}

span {
	letter-spacing: 5px;
	position: absolute; 
	bottom: 0;
	left: 0;
	margin-left: 10px;
	text-align: center;
}